﻿@using Data.Models;

<Modal @ref="modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>@ModalTitle</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Наименование</FieldLabel>
                <TextEdit @bind-text=editMaterial.Name />
            </Field>
            <Field>
                <FieldLabel>Код</FieldLabel>
                <TextEdit @bind-text=editMaterial.Code MaxLength=10 />
            </Field>
            <Field>
                <FieldLabel>Количество</FieldLabel>
                <NumericEdit @bind-Value=editMaterial.Count />
            </Field>
            <Field>
                <FieldLabel>Комментарий</FieldLabel>
                <TextEdit @bind-text=editMaterial.Comment />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="SubmitProposal">@ButtonTitle</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    [Parameter]
    public string ModalTitle { get; set; }

    [Parameter]
    public string ButtonTitle { get; set; }

    [Parameter]
    public EventCallback<ProposalMaterial> OnSubmit { get; set; }

    private Modal modalRef;

    private ProposalMaterial editMaterial = new ProposalMaterial();

    public void ShowModal(ProposalMaterial? _material)
    {
        if (_material == null)
        {
            editMaterial = new ProposalMaterial();
        }
        else
        {
            editMaterial = new ProposalMaterial()
            {
                Id = _material.Id,
                Name = _material.Name,
                Code = _material.Code,
                Count = _material.Count,
                Comment = _material.Comment,
                ProposalId = _material.ProposalId,
                Proposal = _material.Proposal,
                Status = _material.Status
            };
        }
        modalRef.Show();
    }

    private void SubmitProposal()
    {
        OnSubmit.InvokeAsync(editMaterial);
        modalRef.Hide();
    }

}
