﻿@using Data.Models;

<Modal @ref="modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Вы верены, что хотитие утвердить текущую заявку?</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="Confirm">Да</Button>
            <Button Color="Color.Secondary" Clicked="@(() => modalRef.Hide())">Нет</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    [Parameter]
    public EventCallback OnConfirm { get; set; }

    private Modal modalRef;

    public void Show()
    {
        modalRef.Show();
    }

    private void Confirm()
    {
        OnConfirm.InvokeAsync();
        modalRef.Hide();
    }
}
