﻿@page "/proposalDetails/{ProposalId:int}"
@using BlazorServerApp.Data.Models
@using BlazorServerApp.Services
@inject IProposalInterface ProposalsService;
@inject IMaterialInterface MaterialsService;
@inject NavigationManager Navigation

@if (proposal == null)
{
    
    <PageTitle>Заявка не найдена!</PageTitle>
    <Div Flex="Flex.JustifyContent.Center">
        <h1>Заявка не найдена!</h1>
    </Div>
}
else
{
    <PageTitle>Заявка № @proposal.FullNumber</PageTitle>
    <Div Flex="Flex.JustifyContent.Center">
        <h1>Заявка № @proposal.FullNumber</h1>
    </Div>

    <Tabs SelectedTab="@selectedTab" SelectedTabChanged="@((t) => selectedTab = t)">
        <Items>
            <Tab Name="details">Заявка</Tab>
            <Tab Name="materials">Материалы</Tab>
        </Items>
        <Content>
            <TabPanel Name="details">
                <Button Color="Color.Primary" Clicked="GoToProposalsList">Вернуться</Button>
                <Table>
                    <TableBody>
                        <TableRow>
                            <TableRowHeader>№ заявки</TableRowHeader>
                            <TableRowCell>@proposal.FullNumber</TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowHeader>Автор</TableRowHeader>
                            <TableRowCell>@proposal.Author</TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowHeader>Подразделение</TableRowHeader>
                            <TableRowCell>@proposal.Department</TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowHeader>Дата создания</TableRowHeader>
                            <TableRowCell>
                                @($"{proposal.CreatedTime.ToShortDateString()}")
                            </TableRowCell>
                        </TableRow>
                        <TableRow>
                            <TableRowHeader>Статус</TableRowHeader>
                            <TableRowCell>@proposal.TextStatus</TableRowCell>
                        </TableRow>
                    </TableBody>
                </Table>
                @if (proposal.Status == ProposalStatus.Created)
                {
                    <Button Color="Color.Primary" Clicked="@(() => approvingModalRef.Show())">Утвердить</Button>
                    <Button Color="Color.Info" Clicked="@(() => editModalRef.ShowModalFor(proposal))">Редактировать</Button>
                    <Button Color="Color.Danger" Clicked="@(() => deletingModalRef.Show(proposal.FullNumber))">Удалить</Button>
                }
            </TabPanel>
            <TabPanel Name="materials">
                @if (proposal.Status != ProposalStatus.Approved)
                {
                    <Button Color="Color.Primary" Clicked="@(() => ShowCreateMaterialModal())">Создать материал</Button>
                }
                <DataGrid TItem="ProposalMaterial"
                          Data="@materials"
                          Resizable>
                    <DataGridColumns>
                        <DataGridColumn TItem="ProposalMaterial" Field="@nameof(ProposalMaterial.Name)" Caption="Наименование"> </DataGridColumn>
                        <DataGridColumn TItem="ProposalMaterial" Field="@nameof(ProposalMaterial.Code)" Caption="Код"> </DataGridColumn>
                        <DataGridNumericColumn TItem="ProposalMaterial" Field="@nameof(ProposalMaterial.Count)" Caption="Количество"> </DataGridNumericColumn>
                        <DataGridColumn TItem="ProposalMaterial" Field="@nameof(ProposalMaterial.Comment)" Caption="Комментарий"> </DataGridColumn>
                        @if (proposal.Status == ProposalStatus.Created)
                        {
                            <DataGridColumn TextAlignment="TextAlignment.Center" Caption="Опции">
                                <DisplayTemplate>
                                    <Button Color="Color.Primary" Size="Size.Small" Clicked="@(() => ShowEditMaterialModal(context))">Редактировать</Button>
                                    <Button Color="Color.Danger" Size="Size.Small" Clicked="@(() => DeleteMaterial(context))">Удалить</Button>
                                </DisplayTemplate>
                            </DataGridColumn>
                        }
                    </DataGridColumns>
                </DataGrid>
            </TabPanel>
        </Content>
    </Tabs>
} 

<ProposalApprovingModal @ref="approvingModalRef" OnConfirm="ApproveProposal" />
<ProposalModal @ref="editModalRef"
               ModalTitle="Редактирование заявки"
               ButtonTitle="Сохранить"
               OnSubmit="EditProposal" />
<ProposalDeletingModal @ref="deletingModalRef" OnConfirm="DeleteProposal" />

<MaterialModal @ref="createMaterialModalRef" 
               ModalTitle="Создание материала"
               ButtonTitle="Создать"
               OnSubmit="CreateMaterial" />
<MaterialModal @ref="editMaterialModalRef"
               ModalTitle="Редактирование материала"
               ButtonTitle="Сохранить"
               OnSubmit="EditMaterial" />

@code {
    [Parameter]
    public int ProposalId { get; set; }

    private string selectedTab = "details";

    private Proposal proposal;
    private List<ProposalMaterial> materials;

    private ProposalApprovingModal approvingModalRef;
    private ProposalModal editModalRef;
    private ProposalDeletingModal deletingModalRef;
    private MaterialModal createMaterialModalRef;
    private MaterialModal editMaterialModalRef;

    protected override void OnParametersSet()
    {
        proposal = ProposalsService.GetProposalById(ProposalId);
        materials = MaterialsService.GetMaterialsFor(ProposalId);
    }

#region ProposalActions

    private void ApproveProposal()
    {
        ProposalsService.Approve(proposal);
    }

    private void EditProposal(Proposal _proposal)
    {
        ProposalsService.Edit(_proposal);
        proposal = ProposalsService.GetProposalById(ProposalId);
    }

    private void DeleteProposal()
    {
        ProposalsService.Delete(proposal);
        GoToProposalsList();
    }

#endregion

#region CreatingMaterial

    private void ShowCreateMaterialModal()
    {
        createMaterialModalRef.ShowModal(null);
    }

    private void CreateMaterial(ProposalMaterial material)
    {
        material.ProposalId = proposal.Id;
        MaterialsService.Insert(material);
        materials = MaterialsService.GetMaterialsFor(ProposalId);
    }

#endregion
    
#region EditingMaterial

    private void ShowEditMaterialModal(ProposalMaterial selectedMaterial)
    {
        editMaterialModalRef.ShowModal(selectedMaterial);
    }

    private void EditMaterial(ProposalMaterial material)
    {
        MaterialsService.Edit(material);
        materials = MaterialsService.GetMaterialsFor(ProposalId);
    }

#endregion

    private void DeleteMaterial(ProposalMaterial material)
    {
        MaterialsService.Delete(material);
        materials = MaterialsService.GetMaterialsFor(ProposalId);
    }

    private void GoToProposalsList()
    {
        Navigation.NavigateTo("/proposals-list");
    }
}
