﻿@using Data.Models;

<Modal @ref="modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>@ModalTitle</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Автор</FieldLabel>
                <TextEdit @bind-text=editProposal.Author />
            </Field>
            <Field>
                <FieldLabel>Подразделение</FieldLabel>
                <TextEdit @bind-text=editProposal.Department />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="SubmitProposal">@ButtonTitle</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    [Parameter]
    public string ModalTitle { get; set; }

    [Parameter]
    public string ButtonTitle { get; set; }

    [Parameter]
    public EventCallback<Proposal> OnSubmit { get; set; }

    private Modal modalRef;

    private Proposal editProposal = new Proposal();

    public void ShowModalFor(Proposal? proposal)
    {
        if (proposal == null)
        {
            editProposal = new Proposal();
        }
        else
        {
            editProposal = new Proposal()
            {
                 Id = proposal.Id,
                 Number = proposal.Number,
                 Author = proposal.Author,
                 Department = proposal.Department,
                 CreatedTime = proposal.CreatedTime,
                 Status = proposal.Status
            };
        }
        modalRef.Show(); 
    }

    private void SubmitProposal()
    {
        OnSubmit.InvokeAsync(editProposal);
        modalRef.Hide();
    }

}
