﻿@page "/proposals-list"
@using BlazorServerApp.Data.Models
@using BlazorServerApp.Services
@inject IProposalInterface ProposalsService;
@inject NavigationManager Navigation

<PageTitle>Список заявок</PageTitle>

<Div Flex="Flex.JustifyContent.Center">
    <Heading Size="HeadingSize.Is1">Список заявок</Heading>
</Div>
<Button Color="Color.Primary" Clicked="@ShowModalForCreatingProposal">Создать заявку</Button>

<DataGrid 
    TItem="Proposal" 
    Data="@testList" 
    Sortable 
    Filterable 
    Resizable 
    SelectedRowChanged="@((selectedProposal) => proposalToDelete=selectedProposal)"
    RowDoubleClicked="@((e) => GoToDetails(e.Item.Id))"
    ShowPager>
    <DataGridColumns>
        <DataGridColumn TItem="Proposal" Field="@nameof(Proposal.FullNumber)" Caption="№ заявки"> </DataGridColumn>
        <DataGridColumn TItem="Proposal" Field="@nameof(Proposal.Author)" Caption="Автор заявки"> </DataGridColumn>
        <DataGridColumn TItem="Proposal" Field="@nameof(Proposal.Department)" Caption="Подразделение автора"> </DataGridColumn>
        <DataGridDateColumn TItem="Proposal" Field="@nameof(Proposal.CreatedTime)" Caption="Дата создания" CustomFilter="@OnDateCustomFilter">
            <DisplayTemplate>
                @{
                    @($"{context.CreatedTime.ToShortDateString()}")
                }
            </DisplayTemplate>
            <FilterTemplate >
                <DatePicker TValue="DateTime?" DisplayFormat="dd.MM.yyyy" DateChanged=@((newValue) => context.TriggerFilterChange(newValue)) />
            </FilterTemplate>
        </DataGridDateColumn>
        <DataGridColumn TItem="Proposal" Field="@nameof(Proposal.TextStatus)" Caption="Статус"> </DataGridColumn>
        <DataGridColumn TextAlignment="TextAlignment.Center" Filterable="false" Sortable="false">
            <DisplayTemplate>
                @{
                    var approved = (context.Status == ProposalStatus.Approved);
                    <Button Color="Color.Danger" Size="Size.Small" Hidden="@approved" Clicked="@(() => ShowDeleteExclaimer(context))">Удалить</Button>
                }
            </DisplayTemplate>
        </DataGridColumn>
    </DataGridColumns>
</DataGrid>

<ProposalModal @ref="proposalModalRef" 
               ModalTitle="Создание новой заявки"
               ButtonTitle="Добавить"
               OnSubmit="CreateNewProposal"/>

<ProposalDeletingModal @ref="proposalDeletingModalRef"
                       OnConfirm="DeleteSelectedProposal"/>

@code {
    private List<Proposal> proposalsForList;
    private List<Proposal> testList;

    private ProposalModal proposalModalRef;
    private ProposalDeletingModal proposalDeletingModalRef;

    private Proposal proposalToDelete;

    protected override async Task OnInitializedAsync()
    {
        proposalsForList = ProposalsService.GetCreatedAndApprovedProposals();

        testList = new List<Proposal>();
        for (int i = 0; i < 1; i++)
        {
            testList.AddRange(proposalsForList);
        }

        await base.OnInitializedAsync();
    }

    private void ShowModalForCreatingProposal()
    {
        proposalModalRef.ShowModalFor(null);
    }

    private void CreateNewProposal(Proposal proposal)
    {
        ProposalsService.Insert(proposal);

        proposalsForList = ProposalsService.GetCreatedAndApprovedProposals();

        testList = new List<Proposal>();
        for (int i = 0; i < 1; i++)
        {
            testList.AddRange(proposalsForList);
        }

        GoToDetails(proposal.Id);
    }

    public void ShowDeleteExclaimer(Proposal selectedProposal)
    {
        proposalToDelete = selectedProposal;
        proposalDeletingModalRef.Show(proposalToDelete.FullNumber);
    }

    private void DeleteSelectedProposal()
    {
        ProposalsService.Delete(proposalToDelete);

        proposalsForList = ProposalsService.GetCreatedAndApprovedProposals();

        testList = new List<Proposal>();
        for (int i = 0; i < 1; i++)
        {
            testList.AddRange(proposalsForList);
        }
    }

    private void GoToDetails(int proposalId)
    {
        string path = string.Format("/proposalDetails/{0}", proposalId);
        Navigation.NavigateTo(path);
    }
    
    private bool OnDateCustomFilter(object itemValue, object searchValue)
    {
        if (searchValue == null) return true;

        DateTime? item = (DateTime?)itemValue;
        DateTime? search = (DateTime?)searchValue;

        return item.Value.Date == search;
    }
}
