﻿@using Data.Models;

<Modal @ref="modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Вы верены, что хотитие удалить заявку @fullNumber?</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalFooter>
            <Button Color="Color.Danger" Clicked="Confirm">Да</Button>
            <Button Color="Color.Secondary" Clicked="@(() => modalRef.Hide())">Нет</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    [Parameter]
    public EventCallback OnConfirm { get; set; }

    private Modal modalRef;
    private string fullNumber;

    public void Show(string proposalNumber)
    {
        fullNumber = proposalNumber;
        modalRef.Show();
    }

    private void Confirm()
    {
        OnConfirm.InvokeAsync();
        modalRef.Hide();
    }
}
